body{
   background-color: rgb(254, 254, 227); 
}

li{
    font-size: smaller;
    font-weight: lighter;
}

p{
    font-weight:lighter;
    margin: 0;
}



h1, h2{
    padding: 0; 
    margin-left: 20px;
}

h3{
    padding: 0;
    margin-left: 50px;
}

a{
    color: black;
}